*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-right{
   
    float: right;
    position: absolute;
    top: 5%;
    right: 2%; 
}

.nav-right a{
    
    text-decoration: none;
    color: #fff;
    margin: 1vh;
    padding: 1vh 1vh;
    font-family: 'Roboto', sans-serif;  
    /* float: right; */
    background-color: black;
    border-radius: 4px;
    font-size: 1.2rem;
    letter-spacing: 2px;
    opacity: 0.5;
}
  
.nav-right a:hover{
      opacity:1;
      transition-duration: 0.8s;
}




  
.background {
    padding: 180px 0 100px 0;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('backS.jpg');
    height: 100vh;
    width:100%;
    /* width: 30vh */
    background-size: cover;
    background-position: center top;
    color: white;
    text-align: center;
  }
  
  .background h1 {
    
    opacity: 0.8;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
  
  }
  
  .background p {
    opacity: 0.7;
    
    font-size: 2rem;
  }
  
  

.cont{
    padding: 3rem;
    background: #eeeeee;
    display: flex;
    flex-direction: column; 
    }

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    flex-direction: row;
    background: #fff;
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.4);
    flex-basis: 70%;
    
}


.card .image-data{
    height: 60%;
    width: 50vw;
}

.image-data{
    position: relative;
    overflow: hidden;
    flex-basis: 30%;
    
    
}

.image-data img{
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 4vw;
    /* border-radius: 20%; */
    }



/* --------------------content styling---------------------- */


.content{
    padding: 1rem 4rem;
}



h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(49, 36, 36);
    margin: 0;
    padding-bottom: 1rem;
    font-size: 20px;
}

.post p{
    font-size: 20px;
    margin: 1rem 0;
    color: rgb(128, 128, 128);
}



.aboutme{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(49, 36, 36);
    text-align: center;
    margin: 2rem 0 .5rem 0;
}


/*--------- lesson--------- */
.lesson-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    height: 270px;
    width: 100%;
    text-align: center;
}
  

.lesson {
    float: left;
    height: 40vh;
    width: 33%;  
}

@media only screen and (max-width:750px){
    

    
    div.cont{
        
        background: #eeeeee;
        display: flex;
        flex-direction: column; 
        }
    
    div.lesson-wrapper {
        padding-bottom: 10px;
        padding-left: 1%;
        padding-right: 1%;
        height: 270px;
        width: 100%;
        text-align: center;
    }

    .nav-right a{
        
        text-decoration: none;
        color: #fff;
        margin: 1vh;
        padding: 1vh 1vh;
        font-family: 'Roboto', sans-serif;  
        float: right;
        background-color: black;
        border-radius: 4px;
        font-size: 1rem;
        letter-spacing: .5px;
        opacity: 0.5;
    }

    div.content{
        padding: 1rem 1rem;
        /* margin-left: -40px; */
        justify-content: space-between;
    }
    div.image-data{
        display: none;
    }
    div.lesson {
        display: block;
        height: 40vh;
        width: 100%;  
        
    }

    div.content{
        background-image:  linear-gradient(rgba(78, 68, 68, 0.393),rgba(78, 68, 68, 0.393)), url("shreyaS.jpg");
        background-size: cover;
        background-position: center top;
        
    }
    
    div.post h3{
        color: white;
    }
    div.post p{
        color: rgb(253, 253, 253);
    }

    div.lesson-icon p {

        font-size: 20px;
        color: black;
    }
    
    p.text-contents {
        width: 80vw;
        display: inline-block;
        /* padding: 40px; */
        margin-top: 4vh;
        font-size: 15px;
        color: #b3aeb5;
    }
    div.lesson-icon img{
        width: 60vw;
        height: 28vh;
        padding: 1vh  1vw;
  }
  .image-data img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: -30%;
    top: 0;
    }

    

}
  
.lesson-icon {
    position: relative;
}
  
.lesson-icon p {
    position: absolute;
    font-size: 2vw;
    top: 100%;
    width: 100%;
    color: black;
}

.lesson-icon img{
      width: 30vw;
      height: 165px;
      padding: 4px 20px;
}
  
.text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 40px;
    font-size: 1.2vw;
    color: #b3aeb5;
}

.image-data img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: -30%;
    top: 0;}
  /* --------------skill----------------- */

  .center{
      display: flex;
      justify-content: center;
      margin: 40px;
      /* align-items: center; */
  }
  .skills{
      width: 70%;
      
      padding: 20px;
      background: rgb(189, 176, 176);
      box-shadow: 0 20px 50px rgba(0,0,0,0.5);

  }

  .skillbox p{
      width: 100%;
      margin: 0 0 10px;
      padding: 0;
      font-family: sans-serif;
      font-weight: bold;
      letter-spacing: 1px;
      color: #575151;
  }

  

.skill{
    background: #fff;
    padding: 1px;
    border: 1px solid #0fffb7;
    margin-bottom: 10px;
    border-radius: 4px;
}

  .skill-level{
      background: #0fffb7;
      width: 100%;
      height: 8px;
  }

/* ------------interest----------- */
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.interest{
    margin: 2vh 3vw;
    width: 60vw;
    font-family: sans-serif;
    text-align: center;
}
.interest p{
    padding: 4vh 5vw;
    border-radius: 8px;
    margin: 3vh 0;
    background-color: rgb(182, 251, 150);
    font-weight: 700;
    font-size: 20px;
    
}

.interest h2{
    display: inline;
    border-bottom: 1.5px dotted black;
    
}

.interest h1{
    margin: 4vh 0;
    letter-spacing: 1vw;
}




footer{
    height: 25%;
    width: 100%;   
    margin-top: 5px;
    
}

/* @keyframes zoominout{
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.4,1.4);
    }
    100% {
        transform: scale(1,1);
    }
} */

@keyframes updown {
    0% {
      transform: translateY(-30%) ;
    }
  
    50% {
      transform: translateY(-80%);
    }
  
    100% {
      transform: translateY(-30%);
    }
  }

.img-data{
    height: 6rem;
    position: relative;
    overflow: hidden;
    
}

.footering img {
    background: linear-gradient(rgb(2, 202, 69),rgba(18, 200, 2, .2)),url("footer.png");
    width: 100%;
    height: 800%;
    position: absolute;
    top: 0;
    left: 0;
    animation: /*zoominout*/ updown 8s infinite; 
    z-index: -1; 
}

.bars{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 1;    
}

.bars a img{
    height: 40px;
    width: 40px;
    padding: 4px;
    margin-left: 8px;
    margin-top: 2rem;
    border-bottom: 2px dotted white;
    z-index: 1; 
    -webkit-transition: -webkit-transform .3s;

}

.bars a img:hover{
        cursor: pointer;
        -webkit-transform: rotate(5deg) scale(1.2);
        z-index: 1;
}
